USE [master]
GO
/****** Object:  Database [DBParseLogGames]    Script Date: 20/04/2018 09:34:00 ******/
CREATE DATABASE [DBParseLogGames]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DBParseLogGames', FILENAME = N'C:\Users\Vinicius\DBParseLogGames.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'DBParseLogGames_log', FILENAME = N'C:\Users\Vinicius\DBParseLogGames_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DBParseLogGames].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DBParseLogGames]
GO
USE [DBParseLogGames]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 20/04/2018 09:34:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[FileParse]    Script Date: 20/04/2018 09:34:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FileParse](
	[IdFileParse] [int] IDENTITY(1,1) NOT NULL,
	[FileName] [nvarchar](max) NULL,
	[DateFile] [datetime] NOT NULL,
 CONSTRAINT [PK_dbo.FileParse] PRIMARY KEY CLUSTERED 
(
	[IdFileParse] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Game]    Script Date: 20/04/2018 09:34:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Game](
	[IdGame] [int] IDENTITY(1,1) NOT NULL,
	[NameGame] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Game] PRIMARY KEY CLUSTERED 
(
	[IdGame] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Kill]    Script Date: 20/04/2018 09:34:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Kill](
	[IdKill] [int] IDENTITY(1,1) NOT NULL,
	[TypeOfDeath] [int] NOT NULL,
	[IdGame] [int] NOT NULL,
	[IdPlayer] [int] NOT NULL,
 CONSTRAINT [PK_dbo.Kill] PRIMARY KEY CLUSTERED 
(
	[IdKill] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Player]    Script Date: 20/04/2018 09:34:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Player](
	[IdPlayer] [int] IDENTITY(1,1) NOT NULL,
	[NamePlayer] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Player] PRIMARY KEY CLUSTERED 
(
	[IdPlayer] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PlayerGame]    Script Date: 20/04/2018 09:34:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PlayerGame](
	[Player_IdPlayer] [int] NOT NULL,
	[Game_IdGame] [int] NOT NULL,
 CONSTRAINT [PK_dbo.PlayerGame] PRIMARY KEY CLUSTERED 
(
	[Player_IdPlayer] ASC,
	[Game_IdGame] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Index [IX_IdGame]    Script Date: 20/04/2018 09:34:01 ******/
CREATE NONCLUSTERED INDEX [IX_IdGame] ON [dbo].[Kill]
(
	[IdGame] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_IdPlayer]    Script Date: 20/04/2018 09:34:01 ******/
CREATE NONCLUSTERED INDEX [IX_IdPlayer] ON [dbo].[Kill]
(
	[IdPlayer] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Game_IdGame]    Script Date: 20/04/2018 09:34:01 ******/
CREATE NONCLUSTERED INDEX [IX_Game_IdGame] ON [dbo].[PlayerGame]
(
	[Game_IdGame] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Player_IdPlayer]    Script Date: 20/04/2018 09:34:01 ******/
CREATE NONCLUSTERED INDEX [IX_Player_IdPlayer] ON [dbo].[PlayerGame]
(
	[Player_IdPlayer] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Kill]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Kill_dbo.Game_IdGame] FOREIGN KEY([IdGame])
REFERENCES [dbo].[Game] ([IdGame])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Kill] CHECK CONSTRAINT [FK_dbo.Kill_dbo.Game_IdGame]
GO
ALTER TABLE [dbo].[Kill]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Kill_dbo.Player_IdPlayer] FOREIGN KEY([IdPlayer])
REFERENCES [dbo].[Player] ([IdPlayer])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Kill] CHECK CONSTRAINT [FK_dbo.Kill_dbo.Player_IdPlayer]
GO
ALTER TABLE [dbo].[PlayerGame]  WITH CHECK ADD  CONSTRAINT [FK_dbo.PlayerGame_dbo.Game_Game_IdGame] FOREIGN KEY([Game_IdGame])
REFERENCES [dbo].[Game] ([IdGame])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PlayerGame] CHECK CONSTRAINT [FK_dbo.PlayerGame_dbo.Game_Game_IdGame]
GO
ALTER TABLE [dbo].[PlayerGame]  WITH CHECK ADD  CONSTRAINT [FK_dbo.PlayerGame_dbo.Player_Player_IdPlayer] FOREIGN KEY([Player_IdPlayer])
REFERENCES [dbo].[Player] ([IdPlayer])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PlayerGame] CHECK CONSTRAINT [FK_dbo.PlayerGame_dbo.Player_Player_IdPlayer]
GO
USE [master]
GO
